<h2 id="centretitre">{centreTitre}</h2>
<div id="main">
 <h3>Aide</h3>
 <div class="message">
  <h4>Smileys</h4>
  <p>Le texte que vous tapez sera automatiquement transformé en smiley dans votre message.</p>
  <table class="liste">
   <tr>
    <th>Texte</th>
    <th>Smiley</th>
   </tr>
   <!-- BEGIN SMILEYS -->
   <tr>
    <td>{smileyTxt}</td>
    <td><img src="templates/{THEME}/images/smileys/{smileyImg}" title="{smileyTxt}" alt="{smileyTxt}" /></td>
   </tr>
   <!-- END SMILEYS -->
  </table>
  <h4>Liens</h4>
  <p>Les liens et e-mails seront automatiquement transformés en liens cliquables avec respectivement pour texte [lien] et [mail].</p>
  <h4>Code <acronym title="Hypertext Markup Language">HTML</acronym> et <acronym title="Bulletin Board Code">BBCode</acronym></h4>
  <p>Ni l'un ni l'autre ne sont autorisés dans les messages.</p>
 </div>
</div>
