<div id="main">
 <h2>{centreTitre}</h2>
 <!-- BEGIN GALERIE -->
 <div class="galerie">
  <!-- BEGIN ILLUS -->
  <a href="galeries/{galerieCleanNom}-id{galerieId}/"><img class="illus" src="{galeriePhoto}" alt="{galeriePhotoNom}" /></a>
  <!-- END ILLUS -->
  <h3><a href="galeries/{galerieCleanNom}-id{galerieId}/">{galerieNom}</a></h3>
  <p>{galerieDate}</p>
  <p class="descr">{galerieDescr}</p>
  <p>{galeriePhotos} photos, {galerieVidos} vidéos, {galerieDivers} divers</p>
  <p>Tags : {galerieTags}</p>
 </div>
 <!-- END GALERIE -->
</div>
