<h2 id="centretitre">{centreTitre}</h2>
<div id="main">
 <ul id="ariane">
  <li><a href="galeries/" title="Retour aux galeries">Galeries</a></li>
  <li>&gt;&gt; <a href="galeries/{galerieCleanNom}-id{galerieId}/" title="Retour  la galerie {galerieNom}">{galerieNom}</a></li>
 </ul>
 <h3>{photoTitle}</h3>
 <div id="navtop">
  <div class="photoprev">
   <!-- BEGIN NOPREV -->
   <p class="no">Tu es  la premire photo de la galerie</p>
   <!-- END NOPREV -->
   <!-- BEGIN PREV -->
   <a href="galeries/{galerieCleanNom}-id{galerieId}/{photoPrevNom}"><img src="{photoPrevPath}" alt="{photoPrevNom}" /></a>
   <p>&lt;&lt; Précédente</p>
   <!-- END PREV -->
  </div>
  <div class="photocurrent"> <a href="galeries/{galerieCleanNom}-id{galerieId}/{photoCurrentNom}"><img src="{photoCurrentPath}" alt="{photoCurrentNom}" /></a>
  </div>
  <div class="photonext">
   <!-- BEGIN NONEXT -->
   <p class="no">Tu es  la dernire photo de la galerie</p>
   <!-- END NONEXT -->
   <!-- BEGIN NEXT -->
   <a href="galeries/{galerieCleanNom}-id{galerieId}/{photoNextNom}"><img src="{photoNextPath}" alt="{photoNextNom}" /></a>
   <p>Suivante &gt;&gt;</p>
   <!-- END NEXT -->
  </div>
 </div>
 <a title="{photoTitle}" href="{photoFullUrl}"><img title="Cliquez pour avoir la photo en taille relle" id="photo" alt="{photoTitle}" class="photo" src="{photoUrl}" /></a>
 <ul class="photo">
  <li><span>Titre</span>{photoTitle}</li>
  <li><span>Date du cliché</span>{photoDate}</li>
  <li><span>Note</span>
   <!-- BEGIN STAR -->
   <img src="templates/{THEME}/images/star.png" alt="*" />
   <!-- END STAR -->
   <!-- BEGIN HALFSTAR -->
   <img src="templates/{THEME}/images/halfstar.png" alt="&frac12;" />
   <!-- END HALFSTAR -->
   <!-- BEGIN EMPTYSTAR -->
   <img src="templates/{THEME}/images/emptystar.png" alt="" />
   <!-- END EMPTYSTAR -->
   ({photoVotes} vote{s}) </li>
  <li><span>Dimensions</span>{photoHeight}x{photoWidth}</li>
  <li><span>Taille</span>{photoWeight}</li>
  <li><span>Vue</span>{photoViews} fois</li>
  <li><span>Galerie</span><a href="galeries/{galerieCleanNom}-id{galerieId}/">{galerieNom}</a></li>
  <li><span>Appareil</span>{photoModel}</li>
  <li><span>Flash</span>{photoFlash}</li>
 </ul>
 <!-- BEGIN COMMS -->
 <h4 id="comms">{dlComms} Commentaire{dlCommsS}</h4>
 <table class="comms">
  <!-- BEGIN COMM -->
  <tr>
   <td class="postauteur"><!-- BEGIN AUTEURPROFIL1 -->
    <a href="membres/{commAuteur}">
    <!-- END AUTEURPROFIL1 -->
    {commAuteur}
    <!-- BEGIN AUTEURPROFIL2 -->
    </a>
    <!-- END AUTEURPROFIL2 -->
   </td>
   <td class="infos"><div>
     <!-- BEGIN DEL-COMM -->
     <a href="galeries/{galerieCleanNom}-id{galerieId}/{photoFile}-del{commId}.html#comm"><img src="templates/k1der2/images/forum/b_supprimer.gif" alt="Supprimer ce commentaire" /></a>
     <!-- END DEL-COMM -->
     <!-- BEGIN EDIT-COMM -->
     <a href="galeries/{galerieCleanNom}-id{galerieId}/{photoFile}-edit{commId}.html#comm"><img src="templates/k1der2/images/forum/b_editer.gif" alt="&Eacute;diter le commentaire" /></a>
     <!-- END EDIT-COMM -->
     <!-- BEGIN QUOTE-COMM -->
     <a href="galeries/{galerieCleanNom}-id{galerieId}/{photoFile}-quote{commId}.html#comm"><img src="templates/k1der2/images/forum/b_citer.gif" alt="Citer le contenu de ce commentaire" /></a>
     <!-- END QUOTE-COMM -->
    </div>
    <span>Ecrit le :</span> {commDate} </td>
  </tr>
  <tr>
   <td{rowspan} class="profil">
   <!-- BEGIN AVATARIMG -->
   <a href="membres/{commAuteur}"><img src="{commAvatar}" alt="Avatar de {commAuteur}" /></a>
   <!-- END AVATARIMG -->
   </td>
   <td colspan="2" class="comm{nonote}">{commMessage}</td>
  </tr>
  <!-- BEGIN COMM-NOTE -->
  <tr>
   <td colspan="2" class="note"><span>Note :</span>
    <!-- BEGIN COMMSTAR -->
    <img src="templates/{THEME}/images/star.png" alt="*" />
    <!-- END COMMSTAR -->
    <!-- BEGIN COMMHALFSTAR -->
    <img src="templates/{THEME}/images/halfstar.png" alt="&frac12;" />
    <!-- END COMMHALFSTAR -->
    <!-- BEGIN COMMEMPTYSTAR -->
    <img src="templates/{THEME}/images/emptystar.png" alt="" />
    <!-- END COMMEMPTYSTAR --></td>
  </tr>
  <!-- END COMM-NOTE -->
  <tr>
   <td colspan="3" class="sep"></td>
  </tr>
  <!-- END COMM -->
 </table>
 <!-- END COMMS -->
 <!-- BEGIN ADD-COMMTITLE -->
 <h4 id="adedcomms">Ajouter un commentaire</h4>
 <!-- END ADD-COMMTITLE -->
 <!-- BEGIN EDIT-COMMTITLE -->
 <h4 id="adedcomms">Editer un commentaire</h4>
 <!-- END EDIT-COMMTITLE -->
 <!-- BEGIN ADD-COMM -->
 <form method="post" action="{REQUEST_URI}#comm">
  <fieldset>
  <table>
   <!-- BEGIN NOLOG -->
   <tr>
    <td class="pseudo" colspan="2"><label for="pseudo">Pseudo</label>
     <input type="text" id="pseudo" name="pseudo" value="{pseudo}" />
     <!-- BEGIN ERREUR-PSEUDO -->
     <span class="erreur">Vous devez entrer un pseudo</span>
     <!-- END ERREUR-PSEUDO -->
     <!-- BEGIN ERREUR-PSEUDO2 -->
     <span class="erreur">Votre pseudo ne doit contenir que des caractères alphanumriques</span>
     <!-- END ERREUR-PSEUDO2 --></td>
   </tr>
   <!-- END NOLOG -->
   <tr>
    <td colspan="2"><a id="comm"></a> {miseEnForme}</td>
   </tr>
   <tr>
    <td class="messagetd"><!-- BEGIN ERREUR-MESSAGE -->
     <span class="erreur">Vous devez entrer un message valide</span>
     <!-- END ERREUR-MESSAGE -->
     <textarea id="message" name="message" cols="50" rows="10">{message}</textarea></td>
    <td style="white-space:nowrap;"><span>Note :</span><br />
     <input type="radio" name="note" id="note5" value="5"{checked5} />
     <label for="note5"> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/star.png" alt="*" /></label>
     <br />
     <input type="radio" name="note" id="note4" value="4"{checked4} />
     <label for="note4"> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /></label>
     <br />
     <input type="radio" name="note" id="note3" value="3"{checked3} />
     <label for="note3"> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /></label>
     <br />
     <input type="radio" name="note" id="note2" value="2"{checked2} />
     <label for="note2"> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /></label>
     <br />
     <input type="radio" name="note" id="note1" value="1"{checked1} />
     <label for="note1"> <img src="templates/{THEME}/images/star.png" alt="*" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /></label>
     <br />
     <input type="radio" name="note" id="note0" value="0"{checked0} />
     <label for="note0"> <img src="templates/{THEME}/images/emptystar.png" alt="" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /> <img src="templates/{THEME}/images/emptystar.png" alt="" /></label>
     <br />
     <input type="radio" name="note" id="nonote" value="-1"{checked-1} />
     <label for="nonote"> Pas de note</label>
    </td>
   </tr>
  </table>
  <input type="submit" value="Poster le commentaire" />
  </fieldset>
 </form>
 <!-- END ADD-COMM -->
 <!-- BEGIN NOADD-COMM -->
 <p class="noaddcomm">Vous devez tre <a href="membres/inscription.html">inscrits</a> et identifi pour poster un commentaire</p>
 <!-- END NOADD-COMM -->
</div>
