<div id="mainlineup">
<h3>Composition des Lines Up du clan</h3>
<div class="message">
	<table class="liste">
		<colgroup>
			<col style="width:20%;" />
		</colgroup>
		<tr>
			<th>Pseudo</th>
			<!-- BEGIN LINEUPTITLE -->
			<th>{lineupTitre}</th>
			<!-- END LINEUPTITLE -->
		</tr>
		<!-- BEGIN MEMBRES -->
		<tr>
			<td><a href="membres/{membrePseudo}">{membrePseudo}</a></td>
			<!-- BEGIN CHECKLINE -->
			<td>{inLine}</td>
			<!-- END CHECKLINE -->
		</tr>
		<!-- END MEMBRES -->
	</table>
	<hr />
</div>
<div class="bas"></div>
</div>