<div id="main">
{barrehaut}
	<h4>Confirmation de désépinglement</h4>
	<table class="liste">
	<tr class="forumsepposts">
		<td style="text-align:center; font-size:1.2em;">
		<form action="{REQUEST_URI}" method="post">
			<div class="forumsub">
			{message}<br />
			<input type="hidden" id="option" name="option" value="{option}" />
			<input type="submit" id="valider" name="valider" style="margin-top:10px; font-size:0.8em;" value="D&eacute;s&eacute;pingler le sujet"/>
			</div>
		</form>
	   </td>
	</tr>
	</table>
</div>