<h2 id="centretitre">{centreTitre}</h2>
<div id="main"> {barrehaut}
 <!-- BEGIN PREVIEW -->
 <h3 class="lite">Prévisualisation</h3>
 <table>
  <tbody>
   <tr>
    <td>{message}</td>
   </tr>
  </tbody>
 </table>
 <!-- END PREVIEW -->
 <form action="{REQUEST_URI}" method="post">
  <h3 class="lite">Répondre à : {topicTitre}</h3>
  <table summary="Répondre à : {topicTitre}">
   <tbody>
    <!-- BEGIN VISITEUR -->
    <tr>
     <td><label for="pseudo">Pseudo</label></td>
     <td><input type="text" id="pseudo" name="pseudo" value="{pseudo}" />
      <!-- BEGIN ERREUR-PSEUDO -->
      <span "erreur">Vous devez entrer un pseudo valide</span>
      <!-- END ERREUR-PSEUDO --></td>
    </tr>
    <!-- END VISITEUR -->
    <tr>
     <td>&nbsp;</td>
     <td>{miseEnForme}</td>
    </tr>
    <tr>
     <td class="smileys"> Smileys Cliquables
      <div>
       <!-- BEGIN FORUM.SMILEYS -->
       <img src="templates/{THEME}/images/smileys/{image}" alt="{alt}" title="{alt}" onclick="javascript:add_smiley('{smiley}');" />
       <!-- END FORUM.SMILEYS -->
      </div>
	 </td>
     <td class="redac">
       <!-- BEGIN ERREUR-MESSAGE -->
       <span class="erreur">Vous devez entrer un message valide</span>
       <!-- END ERREUR-MESSAGE -->
       <textarea name="message" id="message" cols="50" rows="10">{bbmessage}</textarea>
	  <div>
       <input type="submit" id="valider" name="valider" style="margin-right:75px;" value="Valider"/>
       <input id="previsualiser" name="previsualiser" type="submit" style="margin-left:75px;" value="Prévisualisation"/>
      </div>
	 </td>
    </tr>
   </tbody>
  </table>
 </form>
 <h3 class="lite">Les 10 derniers messages<span> (du plus rcent au plus ancien)</span></h3>
 <table summary="Les 10 derniers messages">
  <tfoot>
   <tr>
    <td colspan="3" class="sep"></td>
   </tr>
  </tfoot>
  <tbody>
   <!-- BEGIN FORUM.POSTS -->
   <tr>
    <td class="postauteur"><!-- BEGIN AUTEUR.PROFIL -->
     <a href="membres/{postAuteurName}">{postAuteurName}</a>
     <!-- END AUTEUR.PROFIL -->
     <!-- BEGIN AUTEUR.PROFIL2 -->
     <span>{postAuteurName}</span>
     <!-- END AUTEUR.PROFIL2 -->
    </td>
    <td class="infos"><span>Ecrit le :</span> {postDate} à {postHeure}</td>
   </tr>
   <tr>
    <td>&nbsp;</td>
    <td>{postPost}</td>
   </tr>
   <!-- END FORUM.POSTS -->
  </tbody>
 </table>
</div>
