<h2 id="centretitre">{centreTitre}</h2>
<div id="main">
  <h3>Rechercher</h3>
  <div class="message">
    <form id="searchbox_014004053154253715234:fuebx-3lq-g" action="http://www.k1der.net/search/" method="get" >
      <fieldset>
      <input type="hidden" name="cx" value="014004053154253715234:fuebx-3lq-g" />
	  <label for="q">Recherche :</label>
      <input id="q" name="q" type="text" size="40" value="{search}" />
      <input type="submit" name="sa" value="Rechercher" />
      <input type="hidden" name="cof" value="FORID:9" />
      </fieldset>
    </form>
    <!-- BEGIN XML -->
    <object data="http://google.com/cse?cx=014004053154253715234%3Afuebx-3lq-g&amp;q={searchQ}&amp;sa=Search&amp;cof=FORID%3A9&amp;ad=w9&amp;num=10&amp;hl=en" type="text/html">
      <p>Résultats Google</p>
    </object>
    <!-- END XML -->
    <!-- BEGIN TEXT -->
    <iframe frameborder="0" src="http://google.com/cse?cx=014004053154253715234%3Afuebx-3lq-g&amp;q={searchQ}&amp;sa=Search&amp;cof=FORID%3A9&amp;ad=w9&amp;num=10&amp;hl=en"></iframe>
    <!-- END TEXT -->
  </div>
</div>
