<div id="main">
<h3>Erreur 404 : Page introuvable</h3>
<div class="error-message">
<p>La page que vous recherchez n'existe pas ou plus.</p>

<ul>
	<li>Si vous provenez d'un moteur de recherche (Google, Yahoo, MSN Search, etc...) il se peut que l'information que vous recherchez ait été déplacée. Nous vous conseillons d'effectuer une recherche dans le site afin de la retrouver ou de vous référer au plan du site ci-dessous.</li>
	<li>Si vous vous avez rentré l'adresse de la page manuelement dans votre navigateur, vérifiez que vous n'avez pas commis d'erreurs de saisie.</li>
	<li>Enfin, il peut s'agir d'un lien mort sur notre site ou sur un site pointant vers le notre, nous vous conseillons ici aussi d'effectuer une recherche dans le site ou de vous référer au plan du site ci-dessous.</li>
</ul>
<p>Afin de régler les problèmes de liens morts, un message a été envoyé à l'administrateur de ce site</p>

<h5>Plan du site</h5>
<ul>
	<li><a href="">Accueil</a></li>
	<li>Actualité
		<ul>
			<li><a href="">News</a></li>
			<li><a href="">Archives</a></li>
		</ul>
	</li>
	<li><a href="forum/">Forum</a></li>
</ul>
</div>
<div class="bas"><a href="javascript:history.back()">&lt;&lt; Retour à la page précédente</a></div>
</div>
