<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.3//EN" "http://www.wapforum.org/DTD/wml13.dtd">
<wml>
<card id="card1" title="K1der.net - Wap">
<p align="center">
 <img src="http://www.k1der.net/templates/{THEME}/images/wap/logo.wbm" alt="K1der.net" />
</p>
<p>
<!-- BEGIN NEWS -->
{newsDate} : <br /><a href="http://www.k1der.net/wap/news-{newsId}.html">{newsTitre}</a><br />
<!-- END NEWS -->
</p>
<p>
<!-- BEGIN PREV --><a href="http://www.k1der.net/wap/news/{newsPrev}.html">News précédentes</a><br /><!-- END PREV -->
<!-- BEGIN NEXT --><a href="http://www.k1der.net/wap/news/{newsNext}.html">News suivantes</a><br /><!-- END NEXT -->
<a href="http://www.k1der.net/wap/">Menu</a>
</p>
</card>
</wml>
