<h2 id="centretitre">{centreTitre}</h2>
<div id="main">
 <p>Suite à la décision du Tribunal de Grande Instance de Paris, les responsables du site internet "http://www.k1der.net" ont été reconnu coupables de contrefaçon de la marque "Kinder" dont est titulaire le groupe Ferrero Inc (article 1382 du Code Civil).</p>
 <p>Par ces motifs.</p>
 <ul>
  <li>Ordonne aux prévenus de prendre toutes les mesures de nature à dissuader et à rendre impossible toute consultation sur Internet des dessins et vidéos contrefaits ;</li>
  <li>Condamne les prévenus à reverser au groupe Ferrero Inc. la somme de 1000 Euros sur le fondement de l'article 700 du Nouveau Code de Procédure Civile ;</li>
  <li>Ordonne la radiation auprès de NIC France du nom de domaine "http://www.k1der.net", sous astreinte de 150 Euros par jour de retard dans les 21 jours de la signification de la présente décision ;</li>
 </ul>
</div>
