<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration SYSTEM "../../include/config.dtd">
<configuration>
	<pages>
		<page page="presentation" condition="get[action](presentation)" />
		<page page="contacts" condition="get[action](contacts)" />
	</pages>
	<actions>
	</actions>
	<admin titre="Association">
	</admin>
</configuration>
