<h3>Cr&eacute;er un blog (fin)</h3>
<p>Votre blog est maintenant créé et opérationnel !</p>
<p>Vous pouvez y accèder à l'adresse :</p>
<p><a href="http://blog.k1der.net/{pseudo}">http://blog.k1der.net/{pseudo}</a></p>
<p>L'interface d'administration est elle disponible à l'adresse :</p>
<p><a href="http://blog.k1der.net/admin">http://blog.k1der.net/admin</a></p>
<p>Les login et mot de passe sont les mêmes que ceux de votre compte membre.</p>
<p>Par mesure de sécurité un rappel de ces informations vous a été envoyé à {mail}.</p>
