<h3>&Eacute;diter ma signature</h3>
<form action="{REQUEST_URI}" method="post">
 <fieldset>
 <legend>Signature actuelle</legend>
 <!-- BEGIN SIGNATURE-SET -->
 {signatureHtml}
 <!-- END SIGNATURE-SET -->
 <!-- BEGIN SIGNATURE-NOTSET -->
 <div style="text-align:center;">Aucune signature</div>
 <!-- END SIGNATURE-NOTSET -->
 </fieldset>
 <fieldset>
 <legend>&Eacute;diter la signature</legend>
 {miseEnForme}
 <textarea name="message" id="message" cols="50" rows="10">{signature}</textarea>
 </fieldset>
 <div>
  <input type="submit" value="Valider les modifications" />
 </div>
</form>
