<h3>Informations</h3>
<h4>Profil</h4>
<dl>
 <dt>Pseudo</dt>
 <dd><a href="membres/{pseudo}">{pseudo}</a></dd>
 <dt>Adresse e-mail</dt>
 <dd>{mail}</dd>
 <dt>Inscrit depuis le </dt>
 <dd>{date_ins}</dd>
 <dt>Blog</dt>
 <dd>??</dd>
</dl>
<h4>Statistiques</h4>
<dl>
 <dt>Messages sur le forum </dt>
 <dd>{posts}</dd>
 <dt>Messages sur le rapid'chat </dt>
 <dd>??</dd>
 <dt>Billets dans votre blog </dt>
 <dd>??</dd>
 <dt>Moyenne des messages par jour</dt>
 <dd>{moyenne}</dd>
</dl>