<h2 id="centretitre">{centreTitre}</h2>
<div id="main">
 <div class="menu">
  <h3 class="lite">Menu</h3>
  <ul>
   <li> Messages privés
    <ul>
     <li><a href="membres/mon-profil-boite-de-reception.html">Boîte de réception</a></li>
     <li><a href="membres/mon-profil-rediger-message.html">Rédiger un message</a></li>
    </ul>
   </li>
   <li> Blog
    <ul>
	 <!-- BEGIN HAVEBLOG -->
     <li><a href="http://blog.k1der.net/{pseudo}">Aller sur mon blog</a></li>
     <li><a href="http://blog.k1der.net/admin">Administrer mon blog</a></li>
	 <!-- END HAVEBLOG -->
	 <!-- BEGIN HAVENOTBLOG -->
     <li><a href="membres/mon-profil-creer-blog.html">Créer mon blog</a></li>
	 <!-- END HAVENOTBLOG -->
    </ul>
   </li>
   <li> Préférences
    <ul>
     <li>Apparence du site</li>
     <li>Préférences globales</li>
    </ul>
   </li>
   <li> Profil
    <ul>
     <li><a href="membres/mon-profil-editinfos.html">&Eacute;diter mes infos</a></li>
     <li><a href="membres/mon-profil-changepass.html">Modifier mon mot de passe</a></li>
     <li><a href="membres/mon-profil-changeavatar.html">Changer mon avatar</a></li>
     <li><a href="membres/mon-profil-editsignature.html">&Eacute;diter ma signature</a></li>
    </ul>
   </li>
   <li> Clan
    <ul>
     <!-- BEGIN CLANLEADER -->
     <li><a href="membres/mon-profil-clanhisto.html">Historique</a></li>
     <li><a href="membres/mon-profil-clanedit.html">&Eacute;diter les infos</a></li>
     <li><a href="membres/mon-profil-clanban.html">Changer la bannière</a></li>
     <li><a href="membres/mon-profil-clanlineup.html">Gérer les line up</a></li>
     <li><a href="membres/mon-profil-clanmembres.html">Membres</a></li>
     <li><a href="membres/mon-profil-clanpostul.html">Postulants</a></li>
     <li><a href="membres/mon-profil-clanclose.html">Fermer</a></li>
     <!-- END CLANLEADER -->
     <!-- BEGIN NOCLAN -->
     <li><a href="membres/mon-profil-clancreate.html">Créer</a></li>
     <li><a href="membres/mon-profil-clanjoin.html">Rejoindre</a></li>
     <!-- END NOCLAN -->
     <!-- BEGIN CLAN -->
     <li><a href="membres/mon-profil-clanquit.html">Quitter</a></li>
     <!-- END CLAN -->
    </ul>
   </li>
  </ul>
 </div>
 <div class="content">{res_centredroite}</div>
</div>
