<div id="main">
 <h3>Réglement du site</h3>
 <div class="message">
  <h4>Règles applicables aux visiteurs</h4>
  <h5>Contenu des messages</h5>
  <p>Ce site vous permet de contribuer de diverses façons à son contenu. Cependant, nous ne nous portons pas garant ni ne certifions l'exactitude, l'utilité ou l'état complet d'aucun message, et que nous ne sommes responsables du contenu d'aucun message.</p>
  <p>Les messages expriment l'opinion de leur auteur, pas nécessairement les opinions des responsables de ces Forums.</p>
  <p>Tout utilisateur qui trouverait qu'un message est désobligeant est encouragé à nous contacter immdiatement par email ou via les messages privés du site.</p>
  <p>Vous acceptez, par votre utilisation de ces services, que vous n'utiliserez pas ce site afin de mettre en ligne toutes choses :</p>
  <ul>
   <li>fausse et/ou diffamatoire</li>
   <li>inexacte</li>
   <li>abusive</li>
   <li>vulgaire</li>
   <li>incitant à la haine</li>
   <li>harcelante</li>
   <li>obscène</li>
   <li>profanatrice</li>
   <li>orientée sexuellement</li>
   <li>révélant la vie privée d'une personne</li>
   <li>contraire aux lois</li>
  </ul>
  <p>Nous avons la possibilité de supprimer ces messages et nous ferons tous les efforts dans ce sens, dans un délai raisonnable, si nous pensons que la suppression est nécessaire.</p>
  <p>Vous acceptez par ailleur de ne pas poster des objets soumis à droit d'auteur, à moins que vous ne déteniez ce droit.</p>
  <h5>Blog</h5>
  <p>Nous mettons  votre disposition la possiblité d'avoir un blog (ou Weblog). Celui-ci est bien sûr soumis aux mêmes règles que ci-dessus.</p>
  <p>Nous nous réservons le droits de publier le contenu des blogs dans une autre partie du site (news ou autre). L'auteur garde bien sûr tous les droits sur son texte et peut s'opposer à cette publication via un message aux administrateurs (e-mail ou autre).</p>
  <h5>Respect des autres visiteurs</h5>
  <p>Par respect pour les autres visiteurs vous vous engagez à écrire dans un français correct.</p>
  <p>De même, n'abusez pas des options de mises en formes mises à votre disposition et gardez un message clair et compréhensible.</p>
  <p>Afin de conserver une bonne rapidité d'affichage et un affichage clair pour les messages du forum, nous vous demandons de ne pas insérer d'images/de texte trop consquants dans vos signatures. Les modérateurs sont habilités à modifier les signatures ne respectant pas les règles établies.</p>
  <h4>Sanctions</h4>
  <p>Les modérateurs se réservent le droit d'excure quiconque violera les règles ci-dessus ou qui perturbera le bon fonctionnement de la communautée. Cette exclusion peut être réalisée sans préavis et peut avoir une durée plus ou moins longue.</p>
  <p>Le contrevenant sera alors avertit par e-mail du blocage de son compte.</p>
  <h4>Informations confidentielles</h4>
  <p>Nous nous engageons à ne céder aucunes informations personnelles (e-mail, msn, etc...) à des tiers. Celles-ci sont dédiées à un usage interne uniquement.</p>
 </div>
 <div class="bas"></div>
</div>
