<h2 id="centretitre">{centreTitre}</h2>
<div id="main">
 <h3>Téléchargements</h3>
 <div class="message">
  <h4>{catNom}</h4>
  <div class="cat">
   <!-- BEGIN SUBS -->
   <p class="subs">{subTxt}{catListSub}</p>
   <!-- END SUBS -->
   <!-- BEGIN FILE -->
   <a href="download/{catCleanNom}-id{catId}/{fileCleanNom}-id{fileId}.html"><img class="illus" alt="{fileNom}" src="{fileIllus}" /></a>
   <h5><a href="download/{catCleanNom}-id{catId}/{fileCleanNom}-id{fileId}.html">{fileNom}</a></h5>
   <p>{fileDescr}</p>
   <hr class="clear" />
   <!-- END FILE -->
  </div>
  <hr class="clear" />
 </div>
</div>
