<h2 id="centretitre">{centreTitre}</h2>
<div id="main">
<h3>Qu'es ce que les K1der ?</h3>
<p>K1der est, depuis 2001, un clan <a href="http://fr.wikipedia.org/wiki/Counter-Strike">Counter-Strike</a> dont <a href="clans/K1der">les membres</a> sont, pour la plupart, situs en Bretagne. Habitus des Lan party, ils ont particips  la majorit des grands rassemblements français : West-Arena, Gamers Assembly, Atomic Re-SO, etc...</p>
<h3>D'o vient le nom "K1der" ?</h3>
<p>K1der est, si vous ne l'aviez pas encore devins, un nom driv de la marque de chocolat Kinder.</p>
<p>Il se prononce :</p>
<object type="application/x-shockwave-flash" data="include/scripts/dewplayer-mini.swf?mp3=templates/{THEME}/infos/k1der.mp3&amp;bgcolor=FFFFFF" width="150" height="20"><param name="movie" value="include/scripts/dewplayer-mini.swf?mp3=templates/{THEME}/infos/k1der.mp3&amp;bgcolor=FFFFFF" /></object>
</div>