<h2 id="centretitre">{centreTitre}</h2>
<div id="main">
 <p>Bonjour, si vous arrivez sur cette page je suppose que c'est parce que vous utilisez un navigateur totalement dépassé, en l'occurence : Internet Explorer</p>
 <h3>Mais non je n'utilise pas IE !</h3>
 <p>Peut-tre utilisez vous une de ses nombreuses sur-couche (Maxthon, Avant Browser ou autre) qui essayent de cacher la pauvreté d'Internet Explorer. Désolé : c'est raté.</p>
 <h3>Et pourquoi il ne faut pas l'utiliser ?</h3>
 <p>Internet Explorer est un logiciel qui n'a pas évolué depuis maintenant près de 5 ans , c'est à dire lorsque que Microsoft a eut fini d'écraser Netscape et qu'il obtint le (quasi) monopole des navigateurs sur Internet (voir la <a href="http://fr.wikipedia.org/wiki/Guerre_des_navigateurs" title="Article sur la Guerre des navigateurs">Guerre des navigateurs</a>).</p>
 <p>Il laissa donc son logiciel à l'abandon (hormis les patches de sécurités et l'ajout de l'anti pop-up via le SP2 de Windows XP) : Pourquoi améliorer un logiciel lorsqu'il ne rapporte pas d'argent et qu'on a déjà le monopole ?</p>
 <p>Il est donc aujourd'hui parfaitement obsolète de par ses fonctionnalités, sa sécurité (très alternative) et de son support des standards du web (<a href="http://openweb.eu.org/articles/pourquoi_standards/" title="Article sur le pourquoi des standards">Pourquoi les standards ?</a>).</p>
 <h3><acronym title="Rien  battre">RAB</acronym> des standards, tous les sites marchent sous IE et a me convient.</h3>
 <p>Oui a c'est ce que vous pensez, mais de plus en plus de sites ne fonctionne sous IE que grâce à des astuces de conception (des <a href="http://fr.wikipedia.org/wiki/Hack" title="Dfinition d'un Hack">Hacks</a> en langage technique), même les propres sites de Microsoft ! Sans compter les limitations qu'impose Internet Explorer à ces sites, ce qui vous prive parfois de certaines fonctionnalitées que les développeurs auraient put ajouter.</p>
 <h3>Et pourquoi ce site il ne fait pas comme les autres pour que a marche sous IE ?</h3>
 <p>Il en utilise un minimum, afin qu'il soit tout de même utilisable sous ce navigateur. Mais nous avons aussi une <a href="http://fr.wikipedia.org/wiki/Geek#Vie_sociale" title="La vie sociale d'un Geek">vie sociale</a> et nous avons autre chose à faire que de passer notre temps libre à essayer de faire marcher notre code (qui lui est correct, standard etc...) sous un navigateur obsolète.</p>
 <p>Le bon fonctionnement du site n'est donc pas assuré sous ce navigateur et vous n'aurez pas non plus accès à toutes ses fonctionnalités.</p>
 <h3>Et que me conseillez vous d'utiliser  la place ?</h3>
 <dl>
  <dt><a href="http://www.mozilla-europe.org/fr/products/firefox/"><img src="templates/{THEME}/images/infos/firefox.gif" alt="Logo Firefox" />Firefox</a></dt>
  <dd>Développé par la fondation Mozilla ce navigateur a une interface relativement proche de celle d'Internet Explorer, vous ne serez donc pas trop dépaysé.</dd>
  <dd>Disposant, à la base, de toutes les fonctionnalités basiques (Onglets, Blocage des pop-ups, Lecteur de flux RSS, Gestionnaire de téléchargements etc...), il peut être très facilement personnaliés via des thèmes et des extensions qui vous apporteront de nombreuses autres fonctionnalités.</dd>
  <dd>Si vous venez de Maxthon, vous pouvez donner à Firefox la même ergonomie que Maxthon en suivant ce petit guide : <a href="http://www.maxthon-fr.com/forum/index.php?showtopic=1468">Comment faire de Firefox un Maxthon-like</a> (par un admin du forum de Maxthon, même eux vous aident à y passer <img src="http://www.k1der.net/templates/k1der2/images/smileys/wink.gif" title=";)" alt=";)" />)</dd>
  <dt><a href="http://www.opera.com"><img src="templates/{THEME}/images/infos/opera.gif" alt="Logo Opera" />Opera</a></dt>
  <dd>Si vous voulez avoir un navigateur complet sans vous embéter à installer des extensions, nous vous conseillons Opera.</dd>
  <dd>Gratuit depuis peu de temps, il offre une sérieuse alternative à Firefox et dispose de toutes les fonctionnalités dont vous pouvez attendre d'un navigateur (et plus encore). </dd>
 </dl>
 <p>Il y en a bien sûr beaucoup d'autres :</p>
 <ul>
  <li>Windows
   <ul>
    <li><a href="http://www.mozilla.org/projects/seamonkey/">SeaMonkey</a> (Anciennement la suite Mozilla)</li>
    <li><a href="http://www.flock.com">Flock</a></li>
   </ul>
  </li>
  <li> Linux
   <ul>
    <li><a href="http://www.konqueror.org/">Konqueror</a></li>
    <li><a href="http://www.gnome.org/projects/epiphany/">Epiphany</a></li>
   </ul>
  </li>
  <li>Mac OSX
   <ul>
    <li><a href="http://www.apple.fr/safari/">Safari</a></li>
    <li><a href="http://www.caminobrowser.org/">Camino</a></li>
   </ul>
  </li>
 </ul>
 <p>Vous pouvez trouver une liste non exhaustive des navigateurs sur <a href="http://fr.wikipedia.org/wiki/Liste_de_navigateurs_Web" title="Lite de navigateurs Web">Wikipedia</a> </p>
</div>
