<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration SYSTEM "../../include/config.dtd">
<configuration titre="Partenaires">
	<pages>
		<page page="partenaires" condition="get[action](partenaires)" />
		<page page="index" condition="" />
	</pages>
	<actions>
	</actions>
	<admin titre="Partenaires">
	</admin>
</configuration>
