<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{header.title}</title>
<base href="http://www.k1der.net/">
</head>
<body>
<center>
 <img src="templates/k1der2/images/imode/logo.gif" alt="K1der.net" />
</center>
&#59106; <a href="imode/news.html" accesskey="1">News</a><br />
&#59107; <a href="imode/shoutbox.html" accesskey="2">Shoutbox</a>
</body>
</html>
