<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{header.title}</title>
<base href="http://www.k1der.net/">
</head>
<body>
<center>
 <img src="templates/k1der2/images/imode/logo.gif" alt="K1der.net" />
</center>
<h1><u>{newsTitre}</u></h1><br />
{newsText}
<hr />
<!-- BEGIN PREV -->&#59106; <a href="imode/news-{newsPrevId}.html" accesskey="1">News précédente</a><br /><!-- END PREV -->
<!-- BEGIN NEXT -->&#59107; <a href="imode/news-{newsNextId}.html" accesskey="2">News suivante</a><br /><!-- END NEXT -->
&#59108; <a href="imode/news.html" accesskey="3">Liste des News</a><br />
&#59109; <a href="imode/" accesskey="4">Menu</a>
</body>
</html>
