<div id="footer">
 <div id="xiti-logo"></div>
 <noscript>
  <div id="xiti-logo-noscript">
   <img src="http://logv32.xiti.com/hit.xiti?s=273865&amp;p={title.clean}" alt="Xiti" />
  </div>
 </noscript>
 <ul class="links">
  <li class="wap"><a href="http://wap.k1der.net">Wap</a></li>
  <li class="imode"><a href="http://imode.k1der.net">iMode</a></li>
  <li class="rss"><a href="news/actualites.rss">Flux RSS</a></li>
 </ul>
 <ul class="authors">
  <li>Webmaster : <a href="membres/Country">Country</a></li>
  <li>Dessinateur : <a href="membres/Maxi">Maxi</a></li>
 </ul>
 <p>Site enregistr&eacute; &agrave; la <acronym title="Commission nationale de l'informatique et des libertés">CNIL</acronym> sous le n&deg;1007991</p>
 <p><a class="license" rel="license" title="Le contenu de ce site web est sous licence Creative Commons BY-NC-SA" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.fr"><img src="templates/{THEME}/images/cc.gif" alt="Creative Commons" /></a></p>
 <ul id="poweredby">
  <li><a href="http://www.fr.redhat.com/"><img src="medias/poweredby/redhat.png" alt="Red Hat" /></a></li>
  <li><a href="http://httpd.apache.org/"><img src="medias/poweredby/apache.png" alt="Apache" /></a></li>
  <li><a href="http://www-fr.mysql.com/"><img src="medias/poweredby/mysql.png" alt="MySQL" /></a></li>
  <li><a href="http://www.php.net/"><img src="medias/poweredby/php.png" alt="PHP : Hypertext Preprocessor" /></a></li>
  <li><a href="http://phplib.sourceforge.net/"><img src="medias/poweredby/phplib.png" alt="PHPlib" /></a></li>
  <li><a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"><img src="medias/poweredby/flash.png" alt="Flash" /></a></li>
  <li><a href="http://blog.neolao.com/2006/02/24/13-lecteur-flash-flv"><img src="medias/poweredby/neolao.png" alt="neolao" /></a></li>
  <li><a href="http://www.famfamfam.com"><img src="medias/poweredby/famfamfam.png" alt="Famfamfam" title="Icones de Famfamfam" /></a></li>
  <li><a href="http://www.mozilla.org/products/firefox/"><img src="medias/poweredby/firefox.png" alt="Firefox" title="Get Firefox - The Browser, Reloaded." /></a></li>
 </ul>
</div>
<p id="version"><span>Version </span>3.0{ver}</p>
<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
<!-- BEGIN NAME -->	var re_name_tag = "{membrePseudo}";<!-- END NAME -->
	re_("6c6ho-pupz5ywzgp");
</script>