<!-- BEGIN DOCTYPE1.0 --><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"><!-- END DOCTYPE1.0 --><!-- BEGIN DOCTYPE1.1 --><?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr"><!-- END DOCTYPE1.1 -->

<head>
<title>{header.title}</title>
<meta http-equiv="Content-Type" content="{header.contentType}" />
<meta http-equiv="content-language" content="fr" />
<meta name="title" content="{header.title}" />
<meta name="description" content="K1der - Clan Counter-Strike de Bretagne" />
<meta name="keywords" content="k1der, kinder, k1nder, clan, breton, bretagne, cs, counter-strike, hl, half-life, lan, lan party, jeux video, frag, kiko, lol, country, surprise, maxi, bueno, pingui, q3a, q4, quake, ut, unreal" />
<meta name="MSSmartTagsPreventParsing" content="TRUE" />
<meta name="verify-v1" content="VA4kMgedxSMKjPBYkR1YuYvuKO4mwEqbYZdYIz5t2IM=" />
<meta name="revisit-after" content="7 days" />
<meta name="robots" content="all" />
<base href="{header.base}" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="news/actualites.rss" />
<!-- BEGIN CSS --><link type="text/css" rel="stylesheet" href="{header.css}" media="screen" /><!-- END CSS -->
<!--[if IE]><link type="text/css" rel="stylesheet" href="templates/{THEME}/style_ie.css" />
<link rel="stylesheet" type="text/css" href="templates/{THEME}/firebar.css"><![endif]-->
<!-- Scripts JS (passage de la variable du thème) -->
<script type="text/javascript">var THEME='{THEME}'; var TITLE='{title.clean}';</script>
{header.js}{header.head}</head>
<body>
<!--[if IE]>
 <div id="firebar">
  <a href="http://www.k1der.net/infos/ie-c-mal.html">Internet Explorer vous emp&ecirc;che d'avoir une bonne exp&eacute;rience de ce site et d'Internet en g&eacute;n&eacute;ral. Cliquez ici pour plus d'informations...</a>
 </div>
<![endif]-->
