<div id="menu">
 <h2>Menu</h2>
 <h3 class="maxi-zone">Maxi Zone</h3>
 <ul>
  <li><a href="download/saga-k1der-id2/">Animations flash</a></li>
  <li><a href="http://www.k1der.net/blog/maxi/">Le Blog &agrave; Maxi</a></li>
 </ul>
 <h3 class="actualite">Actualit&eacute;</h3>
 <ul>
  <li><a href="news/">News</a></li>
  <li><a href="forum/news-f2.html">Archives</a></li>
 </ul>
 <h3 class="shop"><a href="http://shop.k1der.net">Boutique K1der</a></h3>
 <h3 class="lan-partys">Lan Partys</h3>
 <ul>
  <li><a href="galeries/">Galeries</a></li>
 </ul>
 <h3 class="communaute">Communaut&eacute;</h3>
 <ul>
  <li><a href="forum/">Forum</a></li>
  <li><a href="blogs/">Blogs</a></li>
  <li><a href="irc://quakenet.org/k1der">Channel IRC</a></li>
 </ul>
</div>
